<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Cotacao Payoneer Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Cotacao Payoneer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B0BDA881EF06DA700A26C4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BDFCC751EF0722B00064755</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BF685391EF06F9E002258EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BF685591EF07093002258EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BF6856E1EF071D3002258EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
